.busca{
    background-color: aliceblue;
    color: black;
    animation: none;
    width: 22cap;
    height: 5vh;
    border-radius: 1vh;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}
#meth{
    cursor: pointer;
}
.fa-solid fa-magnifying-glass{
    height: 20vh;
}
.buscab{
    animation: none;
    width: 50px;
}
.listados{
    border-radius: 10px;
   background-color: orange;
    width: 10vh;
    border: none;
}
.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    height: 45cap;
    width: 35cap;
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;   

    }
    .saymyname, .is{
        width: 28cap;
        background: none;
        font-family: "Montserrat", sans-serif;
        
    }
    .saymyname{
        font-size: 13px;
    }

    .is{
        font-size: 2cap;
        width: 3cap
    }
    .tupac{
        width: 31cap;
        border-radius: 10px;
        background: linear-gradient(to bottom, #D7650B 21.7%, #383838 2%);
        margin: 0px;
        cursor: pointer;


    padding: 0;
    box-sizing: border-box;
    }
    .comsubiveis{
        font-family: "Montserrat", sans-serif;
        margin-left: 3.5cap;
    }
   .materiais {
    margin-left: 3.5cap;
}

  