.busca{

    background-color: aliceblue;
    color: black;
    animation: none;
}
.buscab{
    animation: none;
    
}
.listados{
    border-radius: 10px;
    background-color: orange;
    width: 10vh;
}
#list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 80vh;
    border: 1px solid #ccc;
    padding: 10px;
    height: 20cap;
    width: 21cap;
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
    }