
  .content{
    width: 1040px;

    opacity: 0px;
    margin: 30vh;
    justify-content: center;
    justify-self: center;
    display: flex;
  
  }
  .box {
    background-color: #ca841a;
    color: white;
    margin-top: 40vh;
    margin: 40px;/* Espaçamento entre as caixas */ 
    width: 520px;
    height: 175px;
    top: 388px;
    left: 122px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    text-align: center;
    text-decoration: none; /* Remove sublinhado do link */

  }