
  .content{
    margin: 0;
    opacity: 0px;
    justify-content: center;
    justify-self: center;
    display: flex;
  
  }
  .bo {

      display: flex; 
      justify-content: center; 
      align-items: center; 
      position: relative; 
      background-color: #FF4D00D9;
    color: white;
    margin-top: 25vh;
    margin-inline-end: 15vh;
    width: 60vh;
    height: 20vh;
    border-radius: 1vh;
    text-decoration: none; 
    font-size: 5vh ;
    font-family: "Montserrat", sans-serif;
  }