
  .content{
    width: 1040px;

    opacity: 0px;
    margin: 30vh;
    justify-content: center;
    justify-self: center;
    display: flex;
  
  }
  .box {
    background-color: #ca841a;
    color: white;
    margin-top: 40vh;
    margin: 40px;/* Espaçamento entre as caixas */ 
    width: 520px;
    height: 175px;
    align-items: center;
    border-radius: 12px;
    opacity: 0px;
    text-align: center;
    text-decoration: none; /* Remove sublinhado do link */
    font-size: 5vh ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }