*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    background-color: #0A0403;
    max-width: 1920px;
    max-height: 1080px;
/* Rectangle 1 */
  }
  body{
     height: 100vh;
    display: block;
    justify-content: center;
    justify-items: center;
  }
  .logo{
    color: rgb(238, 239, 240);
    font-size: 28px;
    display: flex;
    margin-left: 1%;
    text-align: center;
    width: 100%;
    font-family: "Moul", serif;
  }
  .non{
    color: aliceblue;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  .lista{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    margin-left: 2%;
  }
  .sociais button{
    transition: none; /* Remove todas as transições */
    animation: none; 
    background-color: black;
    width: 30px;
    height: 30px;
  }
  .social {
    display: flex;
    width: 25%;
  }
  .lista li{
    display: inline-block;
    margin-right: 10px;
  
  }
  header{
    width: 100%;
    height: 10%;
    padding: 1cap;
    display: inline;
  }
  .container{
    margin:0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    
  }