.outras{
  display: flex;
      flex-direction: column; /* Define a direção dos itens como coluna (vertical) */
      justify-content: flex-start; /* Alinha os itens à esquerda */
      align-items: left; /* Centraliza os itens horizontalmente */
      padding: 20px;
      width: 243px;
      border-color: #863411;
      border-width: 2px;
}
.box {
  
  gap: 53px;
  background-color: #6d6a67;
  color: white;
  padding: 20px;
  margin: 10px 0; /* Espaçamento entre as caixas */
  width: 19cap; /* Largura das caixas */
  text-align: center;
  border-radius: 5px;
  text-decoration: none; /* Remove sublinhado do link */
  
}
.clientes{

  background-color: #863411  ;
display: flex;
flex-direction: column; /* Define a direção dos itens como coluna (vertical) */
justify-content: flex-end; /* Alinha os itens à direita */
align-items: right; /* Centraliza os itens horizontalmente */
padding: 20px;
width: 243px;
position:absolute;
right: 0;
top: 0;
margin-top: 9cap;
margin-right: 1.6cap;
border-radius: 10px;

}

.inova {
  width: 195px;
  height: 219px;
  display: block; /* Definindo a imagem como bloco para alinhar corretamente */
  margin-left: auto;
  margin-right: auto; /* Centraliza a imagem horizontalmente */
}
.container-inova {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 8cap;
  margin-left: 30cap;
}


.sas {
  background-color: #6d6a67;
  color: white;
  padding: 20px;
  margin: 10px 0; /* Espaçamento entre as caixas */
  width: 19cap; /* Largura das caixas */
  text-align: center;
  border-radius: 5px;
  text-decoration: none; 
}
.content{
  display:flex;

}

.bemvindo {
  display: block; /* Definindo o texto como bloco */
  margin-top: 10px; /* Define a margem de 10px acima do texto */
  text-align: center; /* Centraliza o texto horizontalmente */
  font-size: 15px;
  font-family:"Montserrat", sans-serif;
}