.outras{
  display: flex;
      flex-direction: column; /* Define a direção dos itens como coluna (vertical) */
      justify-content: flex-start; /* Alinha os itens à esquerda */
      align-items: left; /* Centraliza os itens horizontalmente */
      padding: 20px;
      width: 243px;
      
}
.box {
  background-color: #6d6a67;
  color: white;
  padding: 20px;
  margin: 10px 0; /* Espaçamento entre as caixas */
  width: 19cap; /* Largura das caixas */
  text-align: center;
  border-radius: 5px;
  text-decoration: none; /* Remove sublinhado do link */
  
}
.clientes{

  background-color: #f77f08;
display: flex;
flex-direction: column; /* Define a direção dos itens como coluna (vertical) */
justify-content: flex-end; /* Alinha os itens à direita */
align-items: right; /* Centraliza os itens horizontalmente */
padding: 20px;
width: 243px;
border-radius: 4%;

}

.imagem{
  width: 195px;
height: 219px;
top: 237px;
left: 615px;
gap: 0px;
opacity: 0px;
}
.sas {
  background-color: #6d6a67;
  color: white;
  padding: 20px;
  margin: 10px 0; /* Espaçamento entre as caixas */
  width: 19cap; /* Largura das caixas */
  text-align: center;
  border-radius: 5px;
  text-decoration: none; /* Remove sublinhado do link */
}
/* .tudo {

  display: inline-flexbox;
  align-items: center;
  justify-content: center;
} */

